Repository rsksmart/rconnect, pull requests merged in 2020-05, with the labels that each got.

#13 RIFEX-65 Add nifty component for warning and errors
  old-ui/app/app.js
  old-ui/app/components/app-bar/main-menu.js
  old-ui/app/components/error.js
  old-ui/app/components/toast.js
  ui/app/actions.js
  ui/app/reducers/app.js
  ui/app/rif/actions.js
  ui/app/rif/components/menu/index.js
  ui/app/rif/components/searchDomains.js
  ui/app/rif/pages/domainsDetailPage/domainsDetailPage.js
  ui/app/rif/pages/domainsPage/domainsPage.js
  ui/app/rif/pages/index.js
  ui/app/rif/pages/paymentsPage/paymentsPage.js
  ui/app/rif/pages/rns/register/index.js
Labels: enhancement, ui

#15 Feature/rifex 48/add rns subdomain
  app/scripts/controllers/rif/index.js
  app/scripts/controllers/rif/rns/index.js
  app/scripts/controllers/rif/rns/register/index.js
  app/scripts/controllers/rif/rns/rns-delegate.js
  app/scripts/controllers/rif/rns/rnsjs-delegate.js
  app/scripts/metamask-controller.js
  old-ui/app/components/error.js
  ui/app/rif/actions.js
  ui/app/rif/components/modal/modal.js
  ui/app/rif/components/searchDomains.js
  ui/app/rif/pages/domainsDetailPage/domainDetailActive/domainDetailActive.js
  ui/app/rif/pages/rns/register/index.css
  ui/app/rif/pages/rns/subdomains/index.css
  ui/app/rif/pages/rns/subdomains/index.js
  ui/app/rif/utils/parse.js
Labels: enhancement, rns, service layer, ui

#17 Feature/rifex 47/delete rns subdomain
  app/scripts/controllers/rif/constants/rns.js
  app/scripts/controllers/rif/rns/register/index.js
  app/scripts/controllers/rif/rns/rnsjs-delegate.js
  ui/app/rif/actions.js
  ui/app/rif/components/modal/modal.js
  ui/app/rif/pages/common-style-pages.css
  ui/app/rif/pages/rns/subdomains/index.css
  ui/app/rif/pages/rns/subdomains/index.js
Labels: enhancement, rns, service layer, ui

#14 RIFEX-45 List subdomains of a RNS domain
  app/scripts/controllers/rif/constants/index.js
  app/scripts/controllers/rif/constants/rns.js
  app/scripts/controllers/rif/index.js
  app/scripts/controllers/rif/rns/index.js
  app/scripts/controllers/rif/rns/register/index.js
  app/scripts/controllers/rif/rns/rns-delegate.js
  app/scripts/controllers/rif/rns/rnsjs-delegate.js
  app/scripts/controllers/rif/transaction-listener.js
  app/scripts/metamask-controller.js
  old-ui/app/components/error.js
  ui/app/actions.js
  ui/app/reducers/app.js
  ui/app/rif/actions.js
  ui/app/rif/components/domain-header/index.js
  ui/app/rif/components/menu/index.js
  ui/app/rif/components/modal/modal.css
  ui/app/rif/components/modal/modal.js
  ui/app/rif/components/searchDomains.js
  ui/app/rif/pages/common-style-pages.css
  ui/app/rif/pages/domainsDetailPage/domainDetailActive/domainDetailActive.js
  ui/app/rif/pages/domainsPage/domain-page.css
  ui/app/rif/pages/rns/exchange/index.js
  ui/app/rif/pages/rns/lumino-channels/index.js
  ui/app/rif/pages/rns/pay/index.js
  ui/app/rif/pages/rns/register/index.css
  ui/app/rif/pages/rns/register/index.js
  ui/app/rif/pages/rns/renew/index.js
  ui/app/rif/pages/rns/sell-on-mkp/index.js
  ui/app/rif/pages/rns/subdomains/index.css
  ui/app/rif/pages/rns/subdomains/index.js
  ui/app/rif/utils/parse.js
Labels: enhancement, rns, service layer, ui

#19 FEATURE/RIFEX-40/Page for expired domains
  ui/app/rif/components/domain-header/index.js
  ui/app/rif/components/menu/index.css
  ui/app/rif/pages/domainsDetailPage/domain-detail-page.css
  ui/app/rif/pages/domainsDetailPage/domainExpired/domainExpired.css
  ui/app/rif/pages/domainsDetailPage/domainExpired/domainExpired.js
  ui/app/rif/pages/domainsDetailPage/domainsDetailPage.js
Labels: enhancement, ui

#18 FEATURE/RIFEX-41/Domain expiring page
  ui/app/rif/pages/domainsDetailPage/domainExpiring/domainExpiring.css
  ui/app/rif/pages/domainsDetailPage/domainExpiring/domainExpiring.js
  ui/app/rif/pages/domainsDetailPage/domainsDetailPage.js
Labels: enhancement, ui

#10 Feature/RIFEX-43/Active-domain-search
  app/scripts/controllers/rif/constants/index.js
  app/scripts/controllers/rif/rns/abis/MultiChainResolver.json
  app/scripts/controllers/rif/rns/abis/RSKOwner.json
  app/scripts/controllers/rif/rns/classes/chainAddress.js
  app/scripts/controllers/rif/rns/classes/domainDetails.js
  app/scripts/controllers/rif/rns/classes/index.js
  app/scripts/controllers/rif/rns/resolver/index.js
  app/scripts/controllers/rif/rns/rns-delegate.js
  app/scripts/controllers/rif/utils/dateUtils.js
  package.json
  ui/app/rif/actions.js
  ui/app/rif/components/index.js
  ui/app/rif/components/modal/addNewTokenNetworkAddress/addNewTokenNetworkAddress.js
  ui/app/rif/components/searchDomains.js
  ui/app/rif/constants/icons.js
  ui/app/rif/constants/index.js
  ui/app/rif/constants/slipAddresses.js
  ui/app/rif/pages/domainsDetailPage/domain-detail-page.css
  ui/app/rif/pages/domainsDetailPage/domainDetailActive/addNewTokenNetworkAddress/addNewChainAddressToResolver.js
  ui/app/rif/pages/domainsDetailPage/domainDetailActive/addNewTokenNetworkAddress/modal-add-new-chain-address.css
  ui/app/rif/pages/domainsDetailPage/domainDetailActive/domainDetailActive.js
  ui/app/rif/pages/rns/subdomains/index.js
  ui/app/rif/utils/utils.js
Labels: enhancement, rns, service layer, ui

#20 RIFEX-39 RNS pending domain detail
  app/scripts/controllers/rif/constants/rns.js
  app/scripts/controllers/rif/rns/classes/domainDetails.js
  app/scripts/controllers/rif/rns/container.js
  app/scripts/controllers/rif/rns/index.js
  app/scripts/controllers/rif/rns/register/index.js
  app/scripts/controllers/rif/rns/resolver/index.js
  app/scripts/controllers/rif/rns/rns-delegate.js
  app/scripts/controllers/rif/rns/rnsjs-delegate.js
  ui/app/rif/actions.js
  ui/app/rif/components/searchDomains.js
  ui/app/rif/constants/index.js
  ui/app/rif/pages/domainsDetailPage/domainDetailActive/domainDetailActive.js
  ui/app/rif/pages/domainsDetailPage/domainsDetailPage.js
  ui/app/rif/pages/domainsPage/domainsPage.js
  ui/app/rif/pages/rns/register/index.js
Labels: enhancement, rns, service layer, ui

#22 FEATURE/RIFEX-73/List-Lumino-Tokens
  app/images/rif/doc.png
  app/images/rif/rif.png
  app/scripts/controllers/rif/lumino/explorer.js
  app/scripts/controllers/rif/lumino/index.js
  rif.config.js
  ui/app/rif/actions/index.js
  ui/app/rif/constants/icons.js
  ui/app/rif/constants/index.js
  ui/app/rif/pages/index.js
  ui/app/rif/pages/lumino/tokensPage/tokensPage.css
  ui/app/rif/pages/lumino/tokensPage/tokensPage.js
Labels: enhancement, lumino, ui
